@use "@scss/base/container-queries" as *;

.callback {
	background-image: url("@img/callback-bg.png");
	background-position: center;
	background-size: cover;
	min-height: 485px;
}

.footer {
	container: footer / inline-size;

	&__top {
		background-color: var(--color-light);
		padding-block: clamp(20px, 4.4vw, 60px);

		.container {
			display: grid;
			grid-template-columns: 180px auto 280px;
			gap: 20px 60px;
		}

		&-section {
			&--logo-block {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			&--menu-block {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 24px;

				& > * {
					outline: 1px solid red;
				}
			}

			&--contacts-block {
				display: flex;
				flex-direction: column;
				gap: 24px;

				.main-btn {
					max-width: 100%;
				}
			}
		}
	}

	&__bottom {
		background-color: var(--color-dark);
		padding-block: 16px;

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a {
			font-size: 14px;
			font-weight: 400;
			text-align: center;
			color: var(--color-white);
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 8px;

			&-title {
				font-size: 16px;
				font-weight: 700;
			}

			a,
			address {
				font-size: 16px;
				font-weight: 500;
				color: var(--color-primary);
			}
		}
	}
}
