@use "@scss/base/container-queries" as *;
@use "@scss/extends/text-truncate" as *;

.cases-slider-section {
	.swiper-slide {
		width: 100%;
		max-width: 675px;
		height: auto;
	}

	.case-card {
		display: flex;
		flex-direction: column;
		gap: 8px;
		height: 100%;
		padding: 20px;
		background-color: var(--color-white);
		border-radius: var(--base-border-radius);
		container: case-card / inline-size;

		&__eyebrow {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
			color: var(--color-primary);
		}

		&__title {
			font-size: 14px;
			font-weight: 700;
			color: var(--color-dark);
		}

		&__preview-text {
			font-size: 14px;
			font-weight: 400;
			@include text-truncate(5);
			color: var(--color-dark);
		}

		.btn-row {
			margin-top: auto;
			flex-direction: column;

			& > * {
				max-width: 100%;
			}

			@include container-up("case-card", 420px) {
				flex-direction: row;
				& > * {
					max-width: fit-content;
				}
			}
		}
	}
}
