/* .news-list__item {
    height: 100%;
    border: 1px solid #0000004d;
    border-radius: 10px;
    padding: 20px 40px;
    background: #ebe6de59;
}
.lw-section-title {
    font-size: 30px !important;
    font-weight: 500 !important;
} */

.linked-services {
	/* outline: 1px solid red; */
}

.linked-services ul {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin: 0;
	/* padding: 0; */
}

/* .linked-services li */

.linked-services li a {
	font-size: 16px;
	font-weight: 500;
	color: var(--black);
	transition: opacity var(--main-transition);
}

.linked-services li a:hover,
.linked-services li a:focus {
	opacity: 0.6;
}
