@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin: 16px 0;

	&-container {
		width: 100%;
		container: pagination / inline-size;
	}

	&-show-all-btn {
		padding: 0 12px;
		font-size: 14px;
		font-weight: 400;
		color: var(--dark);
		text-decoration: underline;
		text-underline-offset: 5px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: clamp(32px, 4vw, 46px);
		height: clamp(32px, 4vw, 46px);
		font-size: 14px;
		line-height: 1;
		font-weight: 400;
		color: var(--color-primary);
		background-color: transparent;
		border-radius: 12px;
		padding: clamp(2px, 1.2vw, 8px);
		border: 1px solid var(--color-primary);
		aspect-ratio: 1/1;

		svg {
			width: 24px;
			height: 10px;
			fill: var(--color-primary);
		}

		&--prev,
		&--next {
			width: fit-content;
			background-color: var(--bg-accent-gradient);
		}

		&--prev {
			transform: translateZ(0) rotate(-180deg);
		}

		&--selected {
			pointer-events: none;
			background: var(--bg-accent-gradient);
			color: var(--color-white);
		}

		&--disabled {
			pointer-events: none;
			opacity: 0.6;
		}

		&--dots {
			pointer-events: none;
		}
	}
}
