@use "@scss/base/container-queries" as *;

.news-detail {
	&__tag-slider {
		width: 100%;
		max-width: 100%;
		min-width: 0;
		overflow: hidden;

		.tag-list {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: nowrap;

			&__item {
				width: auto;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 8px 24px;
					border: 2px solid var(--color-primary);
					border-radius: 30px;
					color: var(--color-primary);
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
	}

	&__header {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		gap: 24px;
		margin-bottom: 32px;
		align-items: center;

		@include container-up("section", 960px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		h1 {
			margin: 0;
		}

		&-section {
			display: flex;
			flex-direction: column;
			gap: clamp(16px, 3vw, 32px);
			min-width: 0;

			&:has(img) {
				border: 1px solid var(--color-light);
				border-radius: 12px;
				padding: 12px;
				align-items: center;
				justify-content: center;
				height: 100%;
			}

			img {
				display: flex;
				width: 100%;
				height: auto;
				object-fit: contain;
				border-radius: 8px;
			}
		}
	}

	// .article-content {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: stretch;
	// 	gap: 16px;
	// 	color: var(--color-secondary);
	// 	font-size: 14px;
	// 	line-height: 1.6;
	// 	word-break: break-word;

	// 	p {
	// 		margin: 0;
	// 	}

	// 	&__text {
	// 		display: flex;
	// 		flex-direction: column;
	// 	}
	// }

}
